<div class="form">
  <form action="/animals/<%= @animal.id %>/edit" method="post">

    <input type="hidden" name="picture" value="<%= @animal.picture %>">
    <div class="field-group">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= @animal.name %>"/>
    </div>
    <div class="field-group">
      <label for="arrival_date">Arrival Date:</label>
      <input type="text" name="arrival_date" id="arrival_date"  value="<%= @animal.arrival_date %>"/>
    </div>
    <div class="field-group">
      <label for="type">Type:</label>
      <input type="text" name="type" id="type" value="<%= @animal.type %>"/>
    </div>
    <div class="field-group">
      <label for="breed">Breed:</label>
      <input type="text" name="breed" id="breed" value="<%= @animal.breed %>"/>
    </div>
    <div class="field-group">
      <label for="status">Reay for Adoption:</label>
      <select name="status" id="status">
        <option value="true">True</option>
        <option value="false">False</option></select>
      </div>
      <div class="field-group info-box">
        <label for="info">Extra Info:</label>
        <textarea wrap="hard" cols="20" name="info" id="info"></textarea>
      </div>

      <input class="btn btn--add" type="submit" value="Update Animal Details">

    </form>
  </div>
