

<img class= "img" src="<%= @animal.picture %>">
<p>Name: <%= @animal.name %></p>
<p>Breed: <%= @animal.breed %></p>
<p>Type: <%= @animal.type %></p>
<p>Arrival Date: <%= @animal.arrival_date %></p>
<p>Availabe for Adoption: <%= @animal.status %></p>
<p><%= @animal.info %></p>
