
<h2><%= @animal.name.upcase %></h2>

<div class="details">

  <img class= "img" src="<%= @animal.picture %>">
  <p>Breed: <%= @animal.breed %></p>
  <p>Type: <%= @animal.type %></p>
  <p>Arrival Date: <%= @animal.arrival_date %></p>
  <p>Availabe for Adoption: <%= @animal.status %></p>
  <p><%= @animal.info %></p>


</div>



<h3><a href="/animals">BACK</a></h3>
