<p>Search Results:</p>


<div class="search--results">
<% @animals.each do |animal| %>


<table>
  <tr>
    <td><img class= "img" src="<%= animal.picture %>"> </td>
    <td></td>
    <td><%= animal.name %></td>
    <td></td>
    <td><%= animal.breed %></td>
    <td></td>
    <td><%= animal.arrival_date %></td>
    <td></td>
    <td><%= animal.status %></td>
  </tr>
</table>

<%end%>
</div>


<h3><a href="/animals">BACK</a></h3>
