<h1>Adopted Animals</h1>

<p>All animals here have been adopted and are awaitng collection.</p>


<table>
  <tr>
    <th>Picture</th>
    <th></th>
    <th>Name</th>
    <th></th>
    <th>Owner</th>
    <th></th>
    <th>Owner Contact Number</th>
  </tr>
  <% @adoptions.each do |adoption|%>
  <tr>
    <td><img class="img" src="<%= adoption.animal.picture %>"> </td>
    <td></td>
    <td class="cell-text"><%= adoption.animal.name %></td>
    <td></td>
    <td class="cell-text"><%= adoption.owner.name %></td>
    <td></td>
    <td class="cell-text"><%= adoption.owner.contact %></td>
    <td></td>
    <td class="cell-text"><form action="/adopted/<%= adoption.id %>/delete" method="POST">
        <input class="btn btn--confirm" type="submit" value="Confirm as Collected" />
      </form></td>
    <td></td>
</td>
  </tr>

  <% end %>



</table>
